name: CI
on: [push]
jobs:
  build:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: andrewaylett/pre-commit-action@88b1e05ac245651ed11dae655306f1ea5ad2df5e # v4
