name: CI
on: [push]
jobs:
  build:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: andrewaylett/pre-commit-action@043f715aedebe129a40970bbbed185ca91d5e8f8 # v4
