name: CI
on: [push]
jobs:
  build:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: andrewaylett/pre-commit-action@89f5816efbcdd63c8e50cc588d57aaf595ac8c75 # v4
