on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: [default.json]

jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: andrewaylett/pre-commit-action@043f715aedebe129a40970bbbed185ca91d5e8f8 # v4

    - name: Create tag
      id: tag
      run: |
        # Tag the version of the Renovate configuration
        set -euxo pipefail
        # Get the current release count
        git fetch --tags
        RELEASE_COUNT=$(git tag | grep -c "^v" || true | tr -d '\n')

        # Create and push the new tag with v prefix
        NEW_TAG="v$((RELEASE_COUNT + 1))"
        echo "Creating new tag: $NEW_TAG"
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git tag "$NEW_TAG"

        # Push both tags
        git push origin "$NEW_TAG"

        echo "new-tag=$NEW_TAG" >> "${GITHUB_OUTPUT}"

    - name: Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      with:
        tag_name: ${{ steps.tag.outputs.new-tag }}
        generate_release_notes: true
        make_latest: true
