on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: [default.json]

jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: andrewaylett/pre-commit-action@d381e6427c787d7f327d4b7cf387c1137519bbc8 # v4

    - name: Create tag
      id: tag
      run: |
        # Tag the version of the Renovate configuration
        set -euxo pipefail
        # Get the current release count
        git fetch --tags
        RELEASE_COUNT=$(git tag | grep -c "^v" || true | tr -d '\n')

        # Create and push the new tag with v prefix
        NEW_TAG="v$((RELEASE_COUNT + 1))"
        echo "Creating new tag: $NEW_TAG"
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git tag "$NEW_TAG"

        # Push both tags
        git push origin "$NEW_TAG"

        echo "new-tag=$NEW_TAG" >> "${GITHUB_OUTPUT}"

    - name: Release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        tag_name: ${{ steps.tag.outputs.new-tag }}
        generate_release_notes: true
        make_latest: true
